@mixin modal-crear-pruebas($coloresGenerales) { 
    .modal-body {
        .d-flex {
            align-items: center;
            label {
                padding: .5rem .7rem .5rem 0; 
                white-space: nowrap;
            }
        }  
        .opciones-prueba {
            label {
                width: 45%;
                padding: .5rem 0;
            }
            select, input {
                width: 55%;
            }

            .card-body > div {
                margin-top: 1.5rem;
            }
        }
    }  
}
