@use "sass:map";

@import "~bootstrap/scss/bootstrap";
@import './scss/pruebas/modal-crear-pruebas', './scss/animaciones/animaciones', './scss/pruebas/crud-pruebas',
        './scss/index', './scss/principal', './scss/registro-inicio-sesion' , './scss/humanos/crud-humanos', 
        './scss/humanos/modal-crear-humano', './scss/humanos/modal-matar-humano', './scss/humanos/modal-caracteristicas-dios';

$coloresGenerales: (
    //Fondos Boostrap
    "primary": #0d6efd,
    "secundary": #6c757d,
    "success": #198754,
    "danger": #dc3545,
    "warning": #ffc107,
    "info": #0dcaf0,
    "light": #f8f9fa,
    "dark": #212529,

    //Colores de Alicia
    "letra-clara" : #ffffff,
    "verde": #66e25f,
    "amarillo": #ffc423,
    "rojo": #ea1b59,
    "iconos": #4a403e,
    "iconos-hover": #2d2727,
);

$colorFondoBotones: (
    "primary": #0d6efd,
    "secundary": #6c757d,
    "success": #198754,
    "danger": #dc3545,
    "warning": #ffc107,
    "info": #0dcaf0,
    "light": #f8f9fa,
    "dark": #212529
);

html {
    height: 100vh;
}

body {
    @include modal-crear-pruebas($coloresGenerales);
    @include crud-pruebas($coloresGenerales);
    @include principal($coloresGenerales);
    @include index($coloresGenerales);
    @include registro-inicio-sesion($coloresGenerales);
    @include index($coloresGenerales);
    @include crud-humanos($coloresGenerales);
    @include modal-crear-humano($coloresGenerales);
    @include modal-matar-humano($coloresGenerales);
    @include modal-caracteristicas-dios($coloresGenerales);
    nav.menu-horizontal {
        padding: 0.4rem 2rem;

        i.home {
            font-size: 2rem;
        }
    }

    * {
        box-sizing: border-box;
    }

    .row {
        --bs-gutter-x: 0;
    }
}