@use "sass:map";

@import "~bootstrap/scss/bootstrap";
@import './scss/pruebas/modal-crear-pruebas', './scss/animaciones/animaciones', './scss/pruebas/crud-pruebas',
        './scss/index', './scss/principal', './scss/registro-inicio-sesion' , './scss/humanos/crud-humanos', 
        './scss/humanos/modal-crear-humano', './scss/humanos/modal-matar-humano';

$coloresGenerales: (
    "verde": #66e25f,
    "amarillo": #ffc423,
    "rojo": #ea1b59,
    "iconos": #4a403e,
    "iconos-hover": #2d2727,
);

html {
    height: 100vh;
}

body {
    @include modal-crear-pruebas($coloresGenerales);
    @include crud-pruebas($coloresGenerales);
    @include principal($coloresGenerales);
    @include index($coloresGenerales);
    @include registro-inicio-sesion($coloresGenerales);
    @include index($coloresGenerales);
    @include crud-humanos($coloresGenerales);
    @include modal-crear-humano($coloresGenerales);
    @include modal-matar-humano($coloresGenerales);
     
    nav.menu-horizontal {
        padding: 0.4rem 2rem;

        i.home {
            font-size: 2rem;
        }
    }

    * {
        box-sizing: border-box;
    }

    .row {
        --bs-gutter-x: 0;
    }
}