@keyframes salirPorLaDerecha {
    0% {
        left: 0;
    }

    50% {
        left: 0;
        transform: rotate(-20deg);
    }

    75% {

        transform: rotate(0deg);
    }

    100% {
        left: 100vw;
    }
}

@mixin salirPorLaDerecha() {


    .salir {
        position: relative;
        animation: salirPorLaDerecha 2s;
        z-index: 5;
        animation-delay: 2s;
    }
}

@mixin zoom(){
    &:hover{
        transform: scale(1.8);
        z-index: 10;
    }
}