@mixin registro-inicio-sesion($coloresGenerales) { 
  
  &.registro {
    .col.imagenFondo {
      /* background-image: url("../assets/imagenes/monte_olimpo.jpg"); */
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    .card {
      width: 400px;
      border: none;
      background-color: rgba(255, 255, 255, 0.8);
      box-shadow: 0px 0px 10px 2px rgb(0, 0, 0, .2);
      ul {
        li {
          width: 50%;
        }
      }
    }

    .btr {
      border-top-right-radius: 5px !important;
    }
  
  
    .btl {
      border-top-left-radius: 5px !important;
      
    }
  
    .btn-dark {
      color: #fff;
      background-color:  map.get($coloresGenerales, "iconos");
      border-color:  map.get($coloresGenerales, "iconos");
    }
  
    .btn-dark:hover {
      color: #fff;
      background-color:  map.get($coloresGenerales, "iconos-hover");
      border-color:  map.get($coloresGenerales, "iconos-hover");
    }
  
    .nav {
      --bs-nav-link-color: map.get($coloresGenerales, "iconos");
    }
  
    .nav-pills .nav-link.active, .nav-pills .show > .nav-link {
      background-color: map.get($coloresGenerales, "iconos");
      border-color:  map.get($coloresGenerales, "iconos");
    }

    .nav-pills {
      display: table !important;
      width: 100%;
      --bs-nav-pills-link-active-bg: map.get($coloresGenerales, "iconos");
    }
  
    .nav-pills .nav-link {
      border-radius: 0px;
      border-bottom: 1px solid  map.get($coloresGenerales, "iconos-hover-hover");
  
    }
  
    .nav-item {
      display: table-cell;
      background: map.get($coloresGenerales, "iconos-hover-hover");
    }
  
    .form {
      padding: 10px;
      height: 300px;
  
      &.px-4.registro {
        height: auto;
      }
    }
  
    .form input {
      margin-bottom: 12px;
      border-radius: 3px;
    }
  
  
    .form input:focus {
      box-shadow: none;
    }
  
  
    .form button {
      margin-top: 20px;
    }
  
  }
}